In [1]:
//QUESTION-1

a = 0
def b():
 global a
 a = c(a)

def c(a):
 return a + 2
b()
b()
b()
a

6

In [ ]:
//The value is defined as global inside so is keeps on adding 2 every time
b() 0 + 2 = 2
b() 2 + 2 = 4
b() 4 + 2 = 6

In [ ]:
//QUESTION-2

def fileLength(filename):
 try:
 infile = open(filename)
 contents = infile.read()
 infile.close()
 return len(contents)
 except:
 print("File " + filename+ " not found.")

In [ ]:
fileLength("200534974-ProblemSet1.ipynb")

In [ ]:
fileLength("00505419 - Problem Set 1.ipynb")

In [ ]:
//QUESTION-3

class Marsupial:
 def __init__(self):
 self.pouch = []
 def put_in_pouch(self, item):
 self.pouch.append(item)
 def pouch_contents(self):
 return self.pouch
class Kangaroo(Marsupial):
 def __init__(self, x, y):
 super().__init__()
 self.x = x
 self.y = y
 def jump(self, dx, dy):
 self.x += dx
 self.y += dy
 def __str__(self):
 return f"I am a kangaroo located at coordinates ({self.x},{self.y})"

In [ ]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

In [ ]:
k = Kangaroo(0,0)
print(k)

In [ ]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

In [ ]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

In [ ]:
//QUESTION-4

def collatz(x):
 if x == 1:
 return 1
 if x % 2 == 0:
 print(x)
 return collatz(x/2)
 else:
 print(x)
 return collatz(x+1)

In [ ]:
collatz(1)

In [ ]:
collatz(10)

In [ ]:
QUESTION-5

In [ ]:
dec = int(input("Enter an integer: "))
binary(dec)

In [ ]:
//QUESTION-6

from html.parser import HTMLParser
# Inherit from Html parser
class HeadingParser(HTMLParser):
 # Define the headings
 headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
 # Handle the functions
 def handle_starttag(self, tag, attrs):
 if tag in self.headers:
 print(tag)

 def handle_endtag(self, tag):
 if tag in self.headers:
 print(tag)

 def handle_data(self, data):
 print(data)
# EST HERE
parser = HeadingParser()
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

In [ ]:
//QUESTION-7

def webdir(url, depth, indent):
 if depth == 0:
 print(indent*" "+url)
 return
 else:
 print(indent*" "+url)
 webdir(url, depth-1, indent+1)

In [ ]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

In [ ]:
//QUESTION-8

import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City,Country,Season,Temperature,Rainfall)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Winter',4.2,2
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Spring',8.3,1
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Summer',15.7,
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Fall',10.4,21
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [ ]:
cur.execute ("select * from Weather")
for record in cur:
 print(record)

In [ ]:
cur.execute ("select DISTINCT City from Weather")
for record in cur:
 print(record)

In [ ]:
cur.execute ("select * from Weather where Country='India';")
for record in cur:
 print(record)

In [ ]:
cur.execute ("select * from Weather where Season='Fall';")
for record in cur:
 print(record)

In [ ]:
cur.execute ("SELECT City,Country,Season FROM Weather WHERE Rainfall BETWEEN 200
for record in cur:
 print(record)

In [ ]:
cur.execute ("SELECT City,Country FROM Weather WHERE Season='Fall' and Temperatur
for record in cur:
 print(record)

In [ ]:
cur.execute ("SELECT SUM(Rainfall) FROM Weather WHERE City='Cairo';")
for record in cur:
 print(record)

In [ ]:
cur.execute ("SELECT Season,SUM(Rainfall) FROM Weather GROUP BY Season;")
for record in cur:
 print(record)

In [ ]:
//QUESTION-8

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
[x.upper() for x in words]

In [ ]:
[x.lower() for x in words]

In [ ]:
[len(x) for x in words]

In [ ]:
[[x.upper(),x.lower(),len(x)] for x in words]

In [ ]:
[x for x in words if len(x) > 3]